<!-- Search Form and Results for Buyer -->
<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<form>
			  <fieldset>
			    <legend>Search</legend>

			    <div class="row">
			      <div class="large-3 columns">
			        <label>Min Price</label>
			        <input type="text" placeholder="5,000">
			      </div>
			      <div class="large-3 columns">
			        <label>Max Price</label>
			        <input type="text" placeholder="30,000">
			      </div>
			      <div class="large-6 columns">
			        <label>Near</label>
			        <input type="text" placeholder="City or Postal Code">
			      </div>
			    </div>

			    <div class="row">
			      <div class="large-3 columns">
			        <label>Make</label>
			        <input type="text" placeholder="Any">
			      </div>
			      <div class="large-3 columns">
			        <label>Model</label>
			        <input type="text" placeholder="Any">
			      </div>
			      <div class="large-3 columns">
					<label>Body</label>
					<select class="medium">
					<option DISABLED></option>
					<option>2 Door</option>
					<option>4 Door</option>
					<option>SUV</option>
					<option>Truck</option>
					</select>
			      </div>
			      <div class="large-3 columns">
			        <label>Engine</label>
					<select class="medium">
					<option DISABLED></option>
					<option>Diesel</option>
					<option>Gasoline</option>
					<option>Hybrid</option>
					</select>
			      </div>
			    </div>

				<div class="row">
					<div class="large-4 large-offset-8 columns">
					  <p><a href="#" class="success button">Search</a></p>
					</div>
				</div>

			  </fieldset>
			</form>

		</div>
	</div>
</div>

<!-- Search Results -->
<div class="row">
	<div class="large-4 columns">
		<div class="panel">
			<p>2000 Acura RL</p>
			<a href="http://imgur.com/MvKBCly">Need thumb</a>
			<p>250,000 km<br>
			   $5,000 CAD</p>
		</div>
	</div>
	<div class="large-4 columns">
		<div class="panel">
			<p>2006 BMW 323</p>
			<a href="http://imgur.com/MvKBCly">Need thumb</a>
			<p>100,000miles <br>
			   $15,000 CAD</p>
		</div>
	</div>
	<div class="large-4 columns">
		<div class="panel">
			<p>2010 Cadillac CTS</p>
			<a href="http://imgur.com/MvKBCly">Need thumb</a>
			<p>80,000miles<br>
			   $25,000 CAD</p>
		</div>
	</div>
</div>


