<!-- Form for Seller -->
<div class="row">
	<div class="large-12 columns">
		<div class="panel">

			<form>
			  <fieldset>
			    <legend>Sell Your Car</legend>

			    <div class="row">
			      <div class="large-6 columns">
			        <label>Owner</label>
			        <input type="text" placeholder="Jon Doe">
			      </div>
			      <div class="large-6 columns">
			        <label>Email</label>
			        <input type="text" placeholder="jondoe@somewhe.re">
			      </div>
			    </div>				    

			    <div class="row">
			      <div class="large-3 columns">
			        <label>Make</label>
			        <input type="text" placeholder="BMW">
			      </div>
			      <div class="large-3 columns">
			        <label>Model</label>
			        <input type="text" placeholder="328i">
			      </div>
			      <div class="large-3 columns">
			        <label>Year</label>
			        <input type="text" placeholder="2010">
			      </div>
			      <div class="large-3 columns">
			        <label>Mileage</label>
			        <input type="text" placeholder="1,000,000">
			      </div>
			    </div>

			    <div class="row">
			      <div class="large-3 columns">
					<label>Body</label>
					<select class="medium">
					<option DISABLED></option>
					<option>2 Door</option>
					<option>4 Door</option>
					<option>SUV</option>
					<option>Truck</option>
					</select>
			      </div>
			      <div class="large-3 columns">
			        <label>Transmission</label>
					<select class="medium">
					<option DISABLED></option>
					<option>Automatic</option>
					<option>Manual</option>
					<option>Hybrid</option>
					</select>
			      </div>
			      <div class="large-3 columns">
			        <label>Engine</label>
					<select class="medium">
					<option DISABLED></option>
					<option>Diesel</option>
					<option>Gasoline</option>
					<option>Hybrid</option>
					</select>
			      </div>
			      <div class="large-3 columns">
			        <div class="row collapse">
			          <label>Cylinder</label>
			          <input type="text" placeholder="6">
			        </div>
			      </div>
			    </div>

			    <div class="row">
			      <div class="large-6 columns">
			        <label>Location</label>
			        <input type="text" placeholder="City or Postal Code">
			      </div>
			      <div class="large-6 columns">
			        <div class="row collapse">
			          <label>Asking Price</label>
			          <input type="text" placeholder="25,000">
			        </div>
			      </div>
			    </div>		

			    <div class="row">
			      <div class="large-12 columns">
			        <label><a href="http://imgur.com" target="_blank">Image URL</a></label>
			        <input type="text" placeholder="http://imgur.com/MvKBCly">
			      </div>
			    </div>

			    <div class="row">
			      <div class="large-12 columns">
			        <label>Sales pitch</label>
			        <textarea placeholder="Runs well."></textarea>
			      </div>
			    </div>

				<div class="row">
					<div class="large-4 large-offset-8 columns">
					  <p><a href="#" class="success button">Submit</a></p>
					</div>
				</div>

			  </fieldset>
			</form>
		</div>
	</div>
</div>
