/* app css stylesheet */

body {
  padding-top: 20px;
}

.elements {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.elements li {
  clear: both;
  height: 100px;
  padding-top: 15px;
}

/** Detail View **/
img.element {
  float: left;
  border: 1px solid black;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 250px;
  width: 250px;
}

ul.element-thumbs {
  margin: 0;
  list-style: none;
}

ul.element-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.element-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.element-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 20px;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}