<!doctype html>
<html ng-app>
<head>
<meta charset=utf-8>
<title>Ex2</title>
<style>
.block {
  float: none;
  width: 200px;
  height: 200px;
}
.pink {
  background: #ee3e64;
}
.blue {
  background: #44accf;
}
.green {
  background: #b7d84b;
}
</style>

</head>
<body>

  <div class="block pink" 
       style="float: {{float1}}; width: {{width1}}; height: {{height1}}; background: {{background1}}">
    <label>float:</label><br>
    <input type="text" ng-model="float1" placeholder="none"><br>
    <label>width:</label><br>
    <input type="text" ng-model="width1" placeholder="200px" pattern="[0-9]*"><br>
    <label>height:</label><br>
    <input type="text" ng-model="height1" placeholder="200px" pattern="[0-9]*"><br>
    <label>background:</label><br>
    <input type="text" ng-model="background1" placeholder="#ee3e64" pattern="[0-9]*"><br>
  </div>

  <div class="block blue" 
       style="float: {{float2}}; width: {{width2}}; height: {{height2}}; background: {{background2}}">
    <label>float</label><br>
    <input type="text" ng-model="float2" placeholder="none"><br>
    <label>width:</label><br>
    <input type="text" ng-model="width2" placeholder="200px" pattern="[0-9]*"><br>
    <label>height:</label><br>
    <input type="text" ng-model="height2" placeholder="200px" pattern="[0-9]*"><br>
    <label>background:</label><br>
    <input type="text" ng-model="background2" placeholder="#44accf" pattern="[0-9]*"><br>
  </div>

  <div class="block green" 
       style="float: {{float3}}; width: {{width3}}; height: {{height3}}; background: {{background3}}">
    <label>float</label><br>
    <input type="text" ng-model="float3" placeholder="none"><br>
    <label>width:</label><br>
    <input type="text" ng-model="width3" placeholder="200px" pattern="[0-9]*"><br>
    <label>height:</label><br>
    <input type="text" ng-model="height3" placeholder="200px" pattern="[0-9]*"><br>
    <label>background:</label><br>
    <input type="text" ng-model="background3" placeholder="#b7d84b" pattern="[0-9]*"><br>
  </div>
  

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script> 
</body>
</html>
