<!doctype html>
<html ng-app>
<head>
<meta charset=utf-8>
<title>Ex3</title>
<style>
.block {
  float: left;
  width: 200px;
  height: 200px;
}
.pink {
  background: #ee3e64;
}
.blue {
  background: #44accf;
}
.green {
  background: #b7d84b;
}
</style>

</head>
<body>

<div ng-controller="ListCtrl">
  <div ng-repeat="color in colors" class="block {{color}}" 
       style="float: {{float1}}; width: {{width1}}; height: {{height1}}; background: {{background1}}">
    <label>float:</label><br>
    <input type="text" ng-model="float1" placeholder="left"><br>
    <label>width:</label><br>
    <input type="text" ng-model="width1" placeholder="200px" pattern="[0-9]*"><br>
    <label>height:</label><br>
    <input type="text" ng-model="height1" placeholder="200px" pattern="[0-9]*"><br>
    <label>background:</label><br>
    <input type="text" ng-model="background1" placeholder="#ee3e64" pattern="[0-9]*"><br>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script> 


<script>
var ListCtrl = function  ($scope) {
  $scope.getTotalTodos = function (argument) {
    return $scope.todos.length;
  };

  var colors = ["pink", "blue", "green"];
  var manyColors = [];
  for (var i = 0; i < 20; i += 1) {
    manyColors.push(colors[i % 3]);
  }
  $scope.colors = manyColors;
};
</script>

</body>
</html>
