<!doctype html>
<html ng-app>
<head>
<meta charset=utf-8>
<title>Ex4</title>
<style>
.block {
  width: 200px;
  height: 200px;
}
.float { 
  float: left; 
}
.pink {
  background: #ee3e64;
}
.blue {
  background: #44accf;
}
.green {
  background: #b7d84b;
}
.orange { 
  background: #E2A741; 
}

</style>

</head>
<body>

  <div class="block pink float">
  </div>

  <div class="block blue float">
  </div>

  <div class="block green" 
       style="clear: {{cleargreen}};">

  </div>

  <div class="block orange">
    <label>clear left</label><br>
    <input type="text" ng-model="cleargreen" placeholder="none"><br>
  </div>
  

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script> 
</body>
</html>
