<!doctype html>
<html ng-app>
<head>
<meta charset=utf-8>
<title>Ex5</title>
<style>
body {
  margin: 0;
  padding: 0;
  background: #ccc;
}
#container {
  width: 960px;
  margin: 0 auto;
}
#header { 
  padding: 30px;
  background: #bbb;
}
#content {
  float: left;
  width: 660px;
  background: #fff;
}
#navigation {
  float: right;
  width: 300px;
  background: #eee;
}
#navigation a {
  display: block;
  margin: 0 0 10px 0;
}
#footer {
  clear: both;
  background: #aaa;
  padding: 10px;
}
</style>

</head>
<body>
<div id="container">
  <div id="header">
    <h1>Header</h1>
  </div>
  <div id="content" style="float: {{floatc}}; width:{{widthnac}};">
      <label>float:</label><br>
      <input type="text" ng-model="floatc" placeholder="left"><br>
      <label>width:</label><br>
      <input type="text" ng-model="widthnav" placeholder="660px" pattern="[0-9]*"><br>
    <p>Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. Morbi a enim in magna semper bibendum.</p>
    <p>Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. Morbi a enim in magna semper bibendum.</p>
  </div>
  <div id="navigation" style="float: {{floatnav}}; width:{{widthnav}}; padding:{{paddingco}}">
      <label>float:</label><br>
      <input type="text" ng-model="floatnav" placeholder="right"><br>
      <label>width:</label><br>
      <input type="text" ng-model="widthnav" placeholder="300px" pattern="[0-9]*"><br>
    <a href="#">Nav Item</a>
    <a href="#">Nav Item</a>
    <a href="#">Nav Item</a>
    <a href="#">Nav Item</a>
  </div>
  <div id="footer" style="clear: {{clearf}}; padding: {{paddingf}};">
    <p>Copyright &copy; 2010
    <label>clear:</label>
    <input type="text" ng-model="clearf" placeholder="both">
    <label>padding:</label>
    <input type="text" ng-model="paddingf" placeholder="10px" pattern="[0-9]*">
    </p>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script> 

</body>
</html>
