<!doctype html>
<html ng-app>
<head>
<meta charset=utf-8>
<title>Ex6</title>
<style>
body {
  margin: 0;
  padding: 0;
  background: #ccc;
}
#container {
  overflow: visible;
  width: 260px;
  margin: 0 auto;
  padding: 10px 0 10px 10px;
  background: #aaa;
  border: 1px solid #999;
}
.block {
  float: left;
  margin: 0 5px 0 0;
  width: 79px;
  height: 79px;
  padding: 1px;
}
.pink {
  background: #ee3e64;
}
.blue {
  background: #44accf;
}
.green {
  background: #b7d84b;
}
.narrow {
  width: 50px;
}
</style>

</head>
<body>

<div id="container" style="overflow: {{overflow}};">
  <div class="block pink" >
    <label>overflow:</label><br>
    <input type="text" ng-model="overflow" placeholder="visible" class="narrow"><br>
  </div>

  <div class="block blue">
  </div>

  <div class="block green">
  </div>
</div>


  

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script> 
</body>
</html>
