<!DOCTYPE html>
<html>
<head lang=en>
	<meta charset="utf-8">
	<title>Binding</title>
	<link rel="stylesheet" type="text/css" href="foundation.min.css">
</head><body>

<div ng-app="">
	<input type="" ng-model="data.message">
	<div class="{{data.message}}">
		wrap me with a foundation component
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>

</body></html>