<!DOCTYPE html>
<html>
<head lang=en>
	<meta charset="utf-8">
	<title>Isolate Scope</title>
	<link rel="stylesheet" type="text/css" href="foundation.min.css">
</head><body>

<div ng-app='choreApp'>
	<div ng-controller='ChoreCtrl'>
		<kid done="logChore(chore)"></kid>
		<kid done="logChore(chore)"></kid>
		<kid done="logChore(chore)"></kid>
		<kid done="logChore(chore)"></kid>

	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script>

var app = angular.module('choreApp', []);

app.controller('ChoreCtrl', function ($scope) {
	$scope.logChore = function (chore) {
		alert(chore + " is done");
	};
});

app.directive('kid', function () {
	return {
		restrict: 'E',
		scope: {
			done:"&"
		},
		template: '<input type="text" ng-model="chore">' +
		' {{chore}} ' +
		'<div class="button" ng-click="done({chore:chore})">I am done</div>'
		
	};
});

</script>
</body></html>