<!DOCTYPE html>
<html>
<head lang=en>
	<meta charset="utf-8">
	<title>isolate scope =</title>
	<link rel="stylesheet" type="text/css" href="foundation.min.css">
</head><body>

<div ng-app='drinkApp'>
	<div ng-controller='AppCtrl'>
		Controller
		<input type="text" ng-model="ctrlFlavor">
		Directive
		<kid drink flavor="ctrlFlavor"></kid>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script>

var app = angular.module('drinkApp', []);

app.controller('AppCtrl', function ($scope) {
	$scope.ctrlFlavor = "blackberry";
});

app.directive('drink', function () {
	return {
		scope: {
			flavor:"=" //ctrlFlavor not {{ctrlFlavor}}
		},
		template:'<input type="text" ng-model="flavor">'
	};
});

</script>
</body></html>
