<!DOCTYPE html>
<html>
<head lang=en>
	<meta charset="utf-8">
	<title>isolate scope &amp;</title>
	<link rel="stylesheet" type="text/css" href="foundation.min.css">
</head><body>

<div ng-app='phoneApp'>
	<div ng-controller='AppCtrl'>
		<div phone dial="callHome(message)"></div>
		<div phone dial="callHome(message)"></div>
		<div phone dial="callHome(message)"></div>
	</div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script>

var app = angular.module('phoneApp', []);

app.controller('AppCtrl', function ($scope) {
	$scope.callHome = function (message) {
		alert(message);
	}
});

app.directive('phone', function () {
	return {
		scope: {
			dial:"&" //invoke the value of dial attribute
		},
		template: '<input type="text" ng-model="value">' +
		          '<div class="button" ng-click="dial({message:value})"> Call </div>'
	};
});

</script>
</body></html>