<!DOCTYPE html>
<html>
<head lang=en>
	<meta charset="utf-8">
	<title>Controllers</title>
	<link rel="stylesheet" type="text/css" href="foundation.min.css">
</head><body>

<div ng-app="">
	<div ng-controller="FirstCtrl">

		<h1>{{data.message + " world"}}</h1>

		<div class="{{data.message}}">
			wrap me with a foundation component
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script>
var FirstCtrl = function ($scope) {
	$scope.data = {message: "panel"};
};
</script>
</body></html>