<!DOCTYPE html>
<html>
<head lang=en>
	<meta charset="utf-8">
	<title>review</title>
	<link rel="stylesheet" type="text/css" href="foundation.min.css">
</head><body>

<div ng-app='phoneApp'>
	<div ng-controller='AppCtrl'>
		<phone number="555-1234" network="network" make-call="leaveVoicemail(number, message)"></phone>
		<phone number="867-5309" network="network" make-call="leaveVoicemail(number, message)"></phone>
		<phone number="911" network="network" make-call="leaveVoicemail(number, message)"></phone>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script>

var app = angular.module('phoneApp', []);

app.controller('AppCtrl', function ($scope) {
	$scope.leaveVoicemail = function (number, message) {
		alert("Number: "+number+ " said: "+ message);
	};
});

app.directive('phone', function () {
    return {
        restrict: "E",
        scope: {
            number: "@", //read the attr val
            network: "=", //bi-directional binding
            makeCall: "&"
        },
        template: '<div class="panel">Number: {{number}} <br> Network: <select ng-model="network" ng-options="net for net in networks"></select>' +
            '<input type="text" ng-model="value">' +
            '<div class="button" ng-click="makeCall({number: number, message: value})" > Call Home!</div></div>',
        link: function (scope) {
            scope.networks = ["Verizon", "AT&T", "Sprint"];
            scope.network = scope.networks[0];
        }
    };
});

</script>
</body></html>