<!DOCTYPE html>
<html>
<head lang=en>
	<meta charset="utf-8">
	<title>Diff Org</title>
	<link rel="stylesheet" type="text/css" href="foundation.min.css">
</head><body>

<div ng-app="myApp">
	<div ng-controller="AppCtrl">
		<div class="button" ng-click="AppCtrl.sayHi()">Click me</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script>

var app = angular.module('myApp', []);

var controllers = {};

controllers.AppCtrl = function ($scope) {
	this.sayHi = function () {
		alert("Hi");
	}
	return $scope.AppCtrl = this;
};

app.controller(controllers);

</script>
</body></html>