<!DOCTYPE html>
<html><head lang=en>
<meta charset="utf-8">
<title>Angular Element</title>
<link rel="stylesheet" type="text/css" href="foundation.min.css">
</head><body>

<div ng-app='myApp'>
	<dumb-password></dumb-password>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script>
var app = angular.module('myApp', []);

app.directive('dumbPassword', function () {

	var validElement = angular.element("<div>{{model.input}}</div>");
	this.link = function (scope) {
		scope.$watch("model.input", function (value) {
			if (value === "password") {
				console.log("change it");
				validElement.toggleClass("alert-box alert");
			}
		});
	};

	return {
		restrict: "E",
		replace:true, //<dumb-password> is replace, making it easier to get to children
		template: "<div><input type=text ng-model='model.input'></div>",
		compile: function (tElem) {
			//tElem refers to div of template
			tElem.append(validElement);
			return link;
		}
	};
});
</script>
</body></html>