<!DOCTYPE html>
<html><head lang=en>
<meta charset="utf-8">
<title>zippy - templateUrl</title>
<link rel="stylesheet" type="text/css" href="foundation.min.css">
</head><body>

<div ng-app='app'>
	<script type="text/ng-template" id="zippy.html">
	<div><h3 ng-click="toggleContent()">{{title}}</h3><div ng-show="isContentVisible" ng-transclude>Hell</div></div>
	</script>
	<input type="text" ng-model="model.title">
	<input type="text" ng-model="model.content">
	<zippy title="{{model.title}}">
		The content is: {{model.content}}
	</zippy>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script>
var app = angular.module('app', []);

app.directive('zippy', function () {
	return {
		restrict: "E",
		transclude: true,
		scope: {
			title: "@"
		},
		templateUrl: "zippy.html",
		template: '',
		link: function (scope) {
			scope.isContentVisible = false;
			scope.toggleContent = function () {
				scope.isContentVisible = !scope.isContentVisible;
			}
		}
	};
});


</script>
</body></html>