<!DOCTYPE html>
<html>
<head lang=en>
	<meta charset="utf-8">
	<title>Dot</title>
	<link rel="stylesheet" type="text/css" href="foundation.min.css">
</head><body>

<div ng-app="">
	<input type="text" ng-model="data.message">
	<h1>{{data.message}}</h1>
	<div ng-controller="FirstCtrl">
		<input type="text" ng-model="data.message">
		<h1>{{data.message}}</h1>
	</div>
	<div ng-controller="SecondCtrl">
		<input type="text" ng-model="message">
		<h1>{{message}}</h1>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script>
var FirstCtrl = function () {
};
var SecondCtrl = function () {
};
</script>
</body></html>