<!DOCTYPE html>
<html><head lang=en>
<meta charset="utf-8">
<title>Providers</title>
<link rel="stylesheet" type="text/css" href="foundation.min.css">
</head><body>

<div ng-app='app'>
		<div ng-controller="AppCtrl">
		<div class="panel">
			{{title}}
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script>
var app = angular.module('app', []);

app.provider("game", function () {
	var type;
	return {
		setType: function (value) {
			type = value;
		},
		$get: function () {
			return {
				title: type+"Craft"
			};
		}
	};
});

app.config(function (gameProvider) {
	gameProvider.setType("War");
});


app.controller("AppCtrl", function ($scope, game) {
	$scope.title = game.title;
});

</script>
</body></html>