<!DOCTYPE html>
<html><head lang=en>
<meta charset="utf-8">
<title>Components Containers</title>
<link rel="stylesheet" type="text/css" href="foundation.min.css">
</head><body>

<div ng-app='app'>

<clock timezone='MST'></clock>

<br>
<br>
<br>
<br>

<panel title="I'm a title">
	<clock timezone="PST"></clock>
</panel>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script>
var app = angular.module('app', []);

app.directive('clock', function () {
	return {
		restrict: 'E',
		scope: {
			timezone: "@"
		},
		template: '<div>12:00 {{timezone}}</div>'
	};
});

app.directive('panel', function () {
	return {
		restrict: 'E',
		transclude: true,
		scope: {
			title: "@"
		},
		template: '<div style="border: 3px solid #000000"><div class="alert-box">{{title}}</div><div ng-transclude></div></div>'
	};
});

</script>
</body></html>