<!DOCTYPE html>
<html>
<head lang=en>
	<meta charset="utf-8">
	<title>Custom Filter</title>
	<link rel="stylesheet" type="text/css" href="foundation.min.css">
</head><body>

<div ng-app="myApp">

	<div ng-controller="FirstCtrl">
		<input type="text" ng-model="data.message">
		<h1>{{data.message}}</h1>
	</div>

	<div ng-controller="SecondCtrl">
		<input type="text" ng-model="data.message">
		<h1>{{data.message | reverse}}</h1>
	</div>
	
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script>
var myApp = angular.module('myApp', []);
myApp.factory('Data', function () {
	return {message: "I am data from a service"};
});

myApp.filter('reverse', function (Data) {
	return function (text) {
		return text.split("").reverse().join("") + Data.message;
	};
});

var FirstCtrl = function ($scope, Data) {
	$scope.data = Data;
};
var SecondCtrl = function ($scope, Data) {
	$scope.data = Data;
};
</script>
</body></html>