<!DOCTYPE html>
<html>
<head lang=en>
	<meta charset="utf-8">
	<title>ng-filter</title>
	<link rel="stylesheet" type="text/css" href="foundation.min.css">
</head><body>

<div ng-app="myApp">
	<div ng-controller="AvengersCtrl">
		<input type="text" ng-model="search.$">
		<table>
			<tr ng-repeat="actor in avengers.cast | filter:search">
				<td>{{actor.name}}</td>
				<td>{{actor.character}}</td>
			</tr>
		</table>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script>

var myApp = angular.module('myApp', []);
myApp.factory('Avengers', function () {
	var Avengers = {};
	Avengers.cast = [
	{name: "One", character: "First"},
	{name: "Two", character: "Second"},
	{name: "Three", character: "Third"}
	];
	return Avengers;
});

var AvengersCtrl = function ($scope, Avengers) {
	$scope.avengers = Avengers;
};


</script>
</body></html>