<!DOCTYPE html>
<html><head>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1">

<title>Egghead.io</title>

<style>

body {
  background: #ffffff;
  color: #222;
  font: 15px/25px Georgia, "Times New Roman", Times, serif;
  padding-top: 25px;
  width:75%;
  max-width: 500px;
  margin: 0 auto;
}

article {
	margin: 0 0 20px 20%;
	}
article header h2 {
	margin: 0 0 15px 0;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.3;
	}
article aside {
	float: left;
	width: 20%;
	margin-left: -25%;
	font-size: 12px;
	line-height: 1.8;
	color: #999;
	}
@media screen and (max-width: 700px) {
	article aside {
		float: none;
		width: auto;
		margin: 0 0 20px 0;
		line-height: 1.5;
		}
	}
article p {
	margin: 0 0 20px 0;
	font-size: 14px;
	line-height: 1.5;
	color: #666;
	}
article footer {
	font-size: 14px;
	color: #999;
	}

a.external {
	background:url("/pub/images/external.gif") no-repeat scroll right top transparent;
	padding:0 13px 0 0;
}

</style>

</head><body>

<article>
	<header>
		<h2>egghead.io</h2>
	</header>

	<aside>
	</aside>

	<p>
		<ol>
			<li><a href="1-binding.html">ng-model, {{binding}}</a></li>
			<li><a href="2-controllers.html">ng-controller $scope</a></li>
			<li><a href="3-dot.html">data.message vs message</a></li>
			<li><a href="4-data-btw-controllers.html">sharing data btw controllers</a></li>
			<li><a href="5-method-on-scope.html">method on scope</a></li>
			<li><a href="6-filters.html">filters</a></li>
			<li>skip: requires more setup</li>
			<li><a href="8-ng-filter.html">ngFilter</a></li>
			<li><a href="9-more-filters.html">more built-in filters*</a></li>
			<li><a href="10-first-directive.html">first directive</a></li>
			<li><a href="11-restrictions.html">restrictions: E A C</a></li>
			<li><a href="12-basic-behaviors.html">basic behavior</a></li>
			<li><a href="13-useful-behaviors.html">useful behavior: change class*</a></li>
			<li><a href="14-directives-to-controllers.html">directive to controller</a></li>
			<li><a href="15-directive-to-directive.html">directive to directive</a></li>
			<li><a href="16-isolate-scope.html">isolate scope</a></li>
			<li><a href="17-isolate-scope-at.html">isolate scope @</a></li>
			<li><a href="18-isolate-scope-equal.html">isolate scope =</a></li>
			<li><a href="19-isolate-scope-and.html">isolate scope &amp;</a></li>
			<li><a href="20-isolate-scope-review.html">isolate scope review</a></li>
			<li><a href="21-transclusion.html">transclusion</a> include html element into template element instead of overwrite</li>
			<li><a href="22-alt-controller.html">alternate approach to controller</a></li>
			<li><a href="23-org.html">differnt organization</a></li>
			<li><a href="24-zippy.html">zippy</a></li>
			<li><a href="25-element.html">angular.element</a></li>
			<li><a href="26-scope.html">$scope vs scope</a></li>
			<li><a href="27-template-url.html">templateUrl</a> when template gets too large</li>
			<li><a href="28-template-cache.html">$templateCache</a> one can get/set inline template</li>
			<li><a href="29-ng-view.html">ng-view</a></li>
			<li><a href=""></a>config function</li>
			<li><a href="31-route-provider.html">$routeProvider</a> Try /#/pizza URL.</li>
			<li><a href="32-route-params.html">$routeParams</a> Try /#/hello URL.</li>
			<li><a href="33-redirect.html">redirectTo</a> Try /#/pizza/deep/olive URL.</li>
			<li><a href="34-promise.html">promise</a></li>
			<li><a href="35-resolve.html">resolve</a></li>
			<li><a href="36-resolve-conventions.html">resolve conventions</a></li>
			<li><a href="37-resolve-error.html">resolve $routeChangeError</a></li>
			<li><a href="38-directive4route.html">directive for route handling</a></li>
			<li><a href="39-route-life-cycle.html">route life cycle</a></li>
			<li><a href="40-providers.html">providers 0</a> <br>
				<a href="40a-providers.html">(factory as) providers 1</a> <br>
			    <a href="40b-providers.html">providers 2</a><br>
			    <a href="40c-providers.html">providers 3</a></li>
			<li><a href="41-injectors.html">injectors</a> <br>
			    <a href="41a-injectors.html">injectors variation</a></li>
			<li><a href="42-component-container.html">components and containers</a></li>
			<li><a href="#">(WIP) $index, $event, $log</a></li>
			<li><a href="#">(WIP) Controller as</a></li>

		</ol>
	</p>
	<footer>
	</footer>
</article>



</body></html>

