<!doctype html>
<html ng-app>
<head>
<meta charset=utf-8>
<title>Ex1</title>
<style>
#box1 {
  position: static;
  width: 200px;
  height: 200px;
  background: #ee3e64;
}
#box2 {
  position: static;
  width: 200px;
  height: 200px;
  background: #44accf;
}
#box3 {
  position: static;
  width: 200px;
  height: 200px;
  background: #b7d84b;
}
</style>

</head>
<body>

  <div id="box1" class="box" 
       style="width: {{width1}}; height: {{height1}}; background: {{background1}}">
    <label>width:</label><br>
    <input type="text" ng-model="width1" placeholder="200px" pattern="[0-9]*"><br>
    <label>height:</label><br>
    <input type="text" ng-model="height1" placeholder="200px" pattern="[0-9]*"><br>
    <label>background:</label><br>
    <input type="text" ng-model="background1" placeholder="#ee3e64" pattern="[0-9]*"><br>
  </div>

  <div id="box2" class="box" 
       style="width: {{width2}}; height: {{height2}}; background: {{background2}}">
    <label>width:</label><br>
    <input type="text" ng-model="width2" placeholder="200px" pattern="[0-9]*"><br>
    <label>height:</label><br>
    <input type="text" ng-model="height2" placeholder="200px" pattern="[0-9]*"><br>
    <label>background:</label><br>
    <input type="text" ng-model="background2" placeholder="#44accf" pattern="[0-9]*"><br>
  </div>

  <div id="box3" class="box" 
       style="width: {{width3}}; height: {{height3}}; background: {{background3}}">
    <label>width:</label><br>
    <input type="text" ng-model="width3" placeholder="200px" pattern="[0-9]*"><br>
    <label>height:</label><br>
    <input type="text" ng-model="height3" placeholder="200px" pattern="[0-9]*"><br>
    <label>background:</label><br>
    <input type="text" ng-model="background3" placeholder="#b7d84b" pattern="[0-9]*"><br>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script> 
</body>
</html>
