<!doctype html>
<html ng-app>
<head>
<meta charset=utf-8>
<title>Ex3</title>
<style>

.box {
  position: relative;
  width: 200px;
  height: 200px;
}

#box1 {
  background: #ee3e64;
}
#box2 {
  background: #44accf;
  left: 200px;
}
#box3 {
  background: #b7d84b;
}
</style>

</head>
<body>

  <div id="box1" class="box">
    <div id="box2" class="box" 
       style="left: {{left2}}; position: {{position2}};">
      child of red box<br>
      <label>position:</label><br>
      <input type="text" ng-model="position2" placeholder="relative"><br>
      <label>left:</label><br>
      <input type="text" ng-model="left2" placeholder="200px" pattern="[0-9]*"><br>
    </div>
  </div>

  <div id="box3" class="box">
  </div>
  

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script> 

</body>
</html>
