<!doctype html>
<html ng-app>
<head>
<meta charset=utf-8>
<title>Ex4</title>
<style>
.box {
  position: absolute;
  width: 200px;
  height: 200px;
}
#box1 {
  top: 0; left: 0;
  background: #ee3e64;
}
#box2 {
  top: 0; right: 0;
  background: #44accf;
}
#box3 {
  bottom: 0; left: 0;
  background: #b7d84b;
}
#box4 {
  bottom: 0; right: 0;
  background: #ebde52;
}
</style>

</head>
<body>

  <div id="box1" class="box"
     style="position: {{position1}}; top:{{top1}}; left:{{left1}};">
    <label>position:</label><br>
    <input type="text" ng-model="position1" placeholder="absolute"><br>
    <label>top:</label><br>
    <input type="text" ng-model="top1" placeholder="0px" pattern="[0-9]*"><br>
    <label>left:</label><br>
    <input type="text" ng-model="left1" placeholder="0px" pattern="[0-9]*"><br>
  </div>

  <div id="box2" class="box" 
     style="position: {{position2}}; top:{{top2}}; right:{{right2}};">
    <label>position:</label><br>
    <input type="text" ng-model="position2" placeholder="absolute"><br>
    <label>top:</label><br>
    <input type="text" ng-model="top2" placeholder="0px" pattern="[0-9]*"><br>
    <label>right:</label><br>
    <input type="text" ng-model="right2" placeholder="0px" pattern="[0-9]*"><br>
  </div>

  <div id="box3" class="box"
     style="position: {{position3}}; bottom:{{bottom3}}; left:{{left3}};">
    <label>position:</label><br>
    <input type="text" ng-model="position2" placeholder="absolute"><br>
    <label>bottom:</label><br>
    <input type="text" ng-model="bottom3" placeholder="0px" pattern="[0-9]*"><br>
    <label>left:</label><br>
    <input type="text" ng-model="left3" placeholder="0px" pattern="[0-9]*"><br>
  </div>

  <div id="box4" class="box"
     style="position: {{position4}}; bottom:{{bottom4}}; right:{{right4}};">
    <label>position:</label><br>
    <input type="text" ng-model="position4" placeholder="absolute"><br>
    <label>bottom:</label><br>
    <input type="text" ng-model="bottom4" placeholder="0px" pattern="[0-9]*"><br>
    <label>right:</label><br>
    <input type="text" ng-model="right4" placeholder="0px" pattern="[0-9]*"><br>
  </div>
  

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script> 

</body>
</html>
