<!doctype html>
<html ng-app>
<head>
<meta charset=utf-8>
<title>Ex5</title>
<style>
.box {
  position: absolute;
  width: 200px;
  height: 200px;
}
#box1 {
  top: 0; left: 0;
  background: #ee3e64;
}
#box2 {
  top: 0; right: 0;
  background: #44accf;
}
#box3 {
  bottom: 0; left: 0;
  background: #b7d84b;
}
#box4 {
  bottom: 0; right: 0;
  background: #ebde52;
}
.orange { 
  background: #f95b34; 
  position: absolute; 
  top: 25%; left: 25%; 
  width: 100px; height: 100px; 
}

.narrow {
  width: 50px;
}
</style>

</head>
<body>

  <div id="box1" class="box">
    <div class="orange"
     style="top:{{top1}}; left:{{left1}};">
      <label>top:</label><br>
      <input type="text" ng-model="top1" placeholder="25%" pattern="[0-9]*" class="narrow"><br>
      <label>left:</label><br>
      <input type="text" ng-model="left1" placeholder="25%" pattern="[0-9]*" class="narrow"><br>
    </div>
  </div>

  <div id="box2" class="box">
    <div class="orange"
     style="top:{{top2}}; left:{{left2}};">
      <label>top:</label><br>
      <input type="text" ng-model="top2" placeholder="25%" pattern="[0-9]*" class="narrow"><br>
      <label>left:</label><br>
      <input type="text" ng-model="left2" placeholder="25%" pattern="[0-9]*" class="narrow"><br>
    </div>
  </div>

  <div id="box3" class="box">
    <div class="orange"
     style="top:{{top3}}; left:{{left3}};">
      <label>top:</label><br>
      <input type="text" ng-model="top3" placeholder="25%" pattern="[0-9]*" class="narrow"><br>
      <label>left:</label><br>
      <input type="text" ng-model="left3" placeholder="25%" pattern="[0-9]*" class="narrow"><br>
    </div>
  </div>

  <div id="box4" class="box">
        <div class="orange"
     style="top:{{top4}}; left:{{left4}};">
      <label>top:</label><br>
      <input type="text" ng-model="top4" placeholder="25%" pattern="[0-9]*" class="narrow"><br>
      <label>left:</label><br>
      <input type="text" ng-model="left4" placeholder="25%" pattern="[0-9]*" class="narrow"><br>
    </div>
  </div>

  

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script> 

</body>
</html>
