<!doctype html>
<html ng-app>
<head>
<meta charset=utf-8>
<title>Ex6</title>
<style>
.box {
  position: absolute;
}
#box1 { 
  top: 10px; right: 10px; bottom: 10px; left: 10px; 
  background: #44accf; 
}
#box2 {
  top: 20px; right: 20px; bottom: 20px; left: 20px; 
  background: #ff9c34; 
}
</style>

</head>
<body>

  <div id="box1" class="box">
  </div>

  <div id="box2" class="box" 
     style="position: {{position2}}; top:{{top2}}; right:{{right2}}; bottom:{{bottom2}}; left:{{left2}};">
    <label>position:</label><br>
    <input type="text" ng-model="position2" placeholder="absolute"><br>
    <label>top:</label><br>
    <input type="text" ng-model="top2" placeholder="20px" pattern="[0-9]*"><br>
    <label>right:</label><br>
    <input type="text" ng-model="right2" placeholder="20px" pattern="[0-9]*"><br>
    <label>bottom:</label><br>
    <input type="text" ng-model="bottom2" placeholder="20px" pattern="[0-9]*"><br>
    <label>left:</label><br>
    <input type="text" ng-model="left2" placeholder="20px" pattern="[0-9]*"><br>

  </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script> 

</body>
</html>
