<!doctype html>
<html ng-app>
<head>
<meta charset=utf-8>
<title>Ex7</title>
<style>
.box {
  position: absolute;
}
#box1 { 
  top: 0; right: 20%; bottom: 0; left: 0; 
  background: #ee3e64;
}
#box2 {
  top: 0; right: 0; bottom: 0; left: 80%; 
  background: #b7d84b; 
}
</style>

</head>
<body>

  <div id="box1" class="box"
     style="right:{{right1}};">
    <label>right:</label><br>
    <input type="text" ng-model="right1" placeholder="20%" pattern="[0-9]*"><br>
  </div>

  <div id="box2" class="box" 
     style="left:{{left2}};">
    <label>left:</label><br>
    <input type="text" ng-model="left2" placeholder="80%" pattern="[0-9]*"><br>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script> 

</body>
</html>
