<!doctype html>
<html ng-app>
<head>
<meta charset=utf-8>
<title>Ex9</title>
<style>
.box {
  width: 200px;
  height: 200px;
}
#box1 { 
  position: relative;
  background: #ee3e64;
}
#box2 { 
  position: absolute;
  top: 0;
  left: 100px;
  background: #44accf;
}
</style>

</head>
<body>

  <div id="box1" class="box">
  </div>

  <div id="box2" class="box" 
     style="top: {{top2}}; left:{{left2}};">
    <label>top:</label><br>
    <input type="text" ng-model="top2" placeholder="0px" pattern="[0-9]*"><br>
    <label>left:</label><br>
    <input type="text" ng-model="left2" placeholder="100px" pattern="[0-9]*"><br>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script> 

</body>
</html>
