<!DOCTYPE html>
<html ng-app><head>

<meta charset=utf-8>
<title>Form Validation</title>

<style type="text/css">

body {
  background: #ffffff;
  color: #222;
  font: 15px/25px Georgia, "Times New Roman", Times, serif;
  padding-top: 25px;
  text-align: center;
  width:500px;
  margin: 0 auto;
}

</style>

</head><body>


<form name="valForm" novalidate>

	<span class="label">Phone:</span>
	<input name="phone" type="tel" ng-model="visitorInfo.phone" placeholder="Phone" required>
	<span class="valid" ng-show="valForm.phone.$valid">&#10004;</span><br>

	<span class="label">Email:</span>
	<input name="email" type="email" ng-model="visitorInfo.email" placeholder="Email" required>
	<span class="valid" ng-show="valForm.email.$valid">&#10004;</span><br>

	<div class="buttons">

		<button class="submitbtn" ng-click="update(visitorInfo)" ng-disabled="valForm.$invalid || isUnchanged(visitorInfo)">SUBMIT</button>
	</div>
</form>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>

</body></html>