

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">Elements R Us</a>
        <ul class="nav">
          <li><a href="#/elements">Products</a></li>
          <li class="active"><a href="#/cart">Shopping Cart</a></li>
        </ul>

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 offset1">

      <table id="the-table" class="table table-striped table-bordered table-condensed ">
        <thead id="the-thead">
          <tr>
            <th>Element</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Price</th>
            <th>Currency</th>
            <th>Subtotal</th>
            <th><span ng-click="removeItems()"><i class="icon-remove"></i>Remove Checked Items</span></th>
          </tr>
        </thead>
        <tbody id="the-tbody">
          <tr ng-repeat="item in items">
            <td>{{item.symbol}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.unit}}</td>
            <td>{{item.price}}</td>
            <td>{{item.currency}}</td>
            <td>{{item.quantity * item.price}}</td>
            <td><input type="checkbox" ng-model="item.remove"></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Total</th>
            <th>{{total()}}</th>
            <th></th>
          </tr>
          </tr>
        </tfoot>
      </table>

    </div><!--/span-->
  </div><!--/row-->

  <hr>

  <footer>
    <p class="muted">&copy; Elements R Us {{ 2000 + 13 }}  <span class="pull-right"><a href="#">Back to top</a></span></p>

  </footer>

</div><!--/.fluid-container-->