

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Elements R Us</a>
            <ul class="nav">
              <li><a href="#">Products</a></li>
              <li><a href="#/cart">Shopping Cart</a></li>
            </ul>

        </div>
      </div>
    </div>

    <div class="container-fluid">

      <div class="row-fluid">
        
        <div class="span3">
          <div class="well sidebar-nav">

            <ul class="nav nav-list">
              <li>
                In stock? {{element.instock | checkmark}}
              </li>
              <li>
                <input type="text" pattern="[0-9]*" ng-model="quantity" class="span3"> {{element.unit}} at {{element.price}} {{element.currency}} <button ng-model="button" ng-click="addToCart()" ng-disabled="!element.instock">Add to cart</button>
              </li>
            </ul>


          </div><!--/.well -->
        </div><!--/span-->

        <div class="span9">

          <img ng-src="{{mainImageUrl}}" class="element">

          <h1>{{element.name}}</h1>
           
          <p>{{element.desc}}</p>

        </div><!--/span-->
           

      </div><!--/row-->

      <div class="row-fluid">
        <div class="span9 offset3">

          <ul class="element-thumbs">
            <li ng-repeat="img in element.images">
              <img ng-src="{{img}}" ng-click="setImage(img)">
            </li>
          </ul>

        </div>
      </div><!--/row-->


      <hr>

      <footer>
        <p class="muted">&copy; Elements R Us {{ 2000 + 13 }}  <span class="pull-right"><a href="#">Back to top</a></span></p>

      </footer>

    </div><!--/.fluid-container-->