    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Elements R Us</a>
            <ul class="nav">
              <li class="active"><a href="#">Products</a></li>
              <li><a href="#/cart">Shopping Cart</a></li>
            </ul>

        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">

            <ul class="nav nav-list">
            <input type="text" class="search-query span12" ng-model="query" placeholder="Search">
            <br>
              <li class="nav-header">Sort By</li>
                <select ng-model="orderProp" class="span12">
                  <option value="name">Name</option>
                  <option value="weight">Weight</option>
                </select>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">

          <!-- repeat element -->
          <div class="row-fluid elements" ng-repeat="element in elements | filter:query | orderBy:orderProp">
            <div class="span9 element">
              <p>
                <a href="#/elements/{{element.number}}"><span class="gigantic">{{element.symbol}}</span></a> 
                <a href="#/elements/{{element.number}}"><em>{{element.name}}</em></a> 
                {{element.snippet}}</p>
              <p><a class="btn" href="#/elements/{{element.number}}">View details &raquo;</a></p>
            </div>
          </div><!-- end of repeat element -->

        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p class="muted">&copy; Elements R Us {{ 2000 + 13 }}  <span class="pull-right"><a href="#">Back to top</a></span></p>

      </footer>

    </div><!--/.fluid-container-->