body { 
  margin: 0; 
  font: 12px 'Helvetica Neue', Arial, sans-serif;
  background: #FFF;
  padding: 20px;
}

#nav {
  list-style: none;
  margin: 0 10px 10px;;
  padding: 0 0 10px;
  border-bottom: 1px dotted #CCC;
  height: 20px;
}

#nav li {
  float: left;
  margin-right: 20px;
}

#wrap, .wrap {
  background: #EDC;
  overflow: auto; /* clearing floats */
}

h1, h2, h3 {
  font-family:"HelveticaNeue-UltraLight", "Helvetica Neue", Arial, sans-serif;
  font-weight:100;
}

h1 {
  font-size: 36px;
  margin: 0 10px;
}

#instruction {
  margin: 4px;
  width: 428px;
}
#instruction p {
  line-height: 1.4em;
  font-size: 12.5px;
}

pre {
  background: #FFB;
  padding: 10px;
  border: 1px solid #DDA;
}

#footer {
  clear: both;
  margin: 20px 0;
  border-top: 1px dotted #CCC;
  line-height: 30px;
}