<!DOCTYPE html>
<html><head>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1"> 

<title>Todo in steps</title>

<style>

body {
  background: #ffffff;
  color: #222;
  font: 15px/25px Georgia, "Times New Roman", Times, serif;
  padding-top: 25px;
  width:75%;
  max-width: 500px;
  margin: 0 auto;
}
article {
	margin: 0 0 20px 20%;
	}
article header h2 {
	margin: 0 0 15px 0;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.3;
	}
article aside {
	float: left;
	width: 20%;
	margin-left: -25%;
	font-size: 12px;
	line-height: 1.8;
	color: #999;
	}
@media screen and (max-width: 700px) {
	article aside {
		float: none;
		width: auto;
		margin: 0 0 20px 0;
		line-height: 1.5;
		}
	}
article p {
	margin: 0 0 20px 0;
	font-size: 14px;
	line-height: 1.5;
	color: #666;
	}
article footer {
	font-size: 14px;
	color: #999;
	}				

a.external {
	background:url("/pub/images/external.gif") no-repeat scroll right top transparent;
	padding:0 13px 0 0;
}

</style>

</head><body>

<article>
	<header>
		<h2>v0</h2>	
	</header>
	<aside>
		template
	</aside>
	
	<p>  
		base HTML with some resources <br>
		<a href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" class=external>Bootstrap</a><br>
		<a href="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js" class=external>AngularJS</a><br>
		<a href="http://documentcloud.github.com/underscore/underscore-min.js" class=external>Underscore</a><br>

	</p>
	<p>
		<a href="v0.html">nothing visible happens yet</a>
	</p>

	<footer>
	</footer>
</article>		

<article>
	<header>
		<h2>v1</h2>	
	</header>
	<aside>
		controller
	</aside>
	
	<p>  
		ng-app attribute is added to html tag<br>
		ng-controller attributes are added to the main content div tag<br>
		ng-controller refers to TodoCtrl<br>
		binding calls a propety added in TodoCtrl function<br>
	</p>

	<footer>
		<a href="v1.html">try it here</a>
	</footer>
</article>		

<article>
	<header>
		<h2>v2</h2>	
	</header>
	<aside>
		iterator
	</aside>
	
	<p>  
		more todo items are added to the scope<br>
		ng-repeat attribute is added to li tag to iterate todo items<br>
	</p>

	<footer>
		<a href="v2.html">try it here</a>
	</footer>
</article>		

<article>
	<header>
		<h2>v3</h2>	
	</header>
	<aside>
		css + ng-model
	</aside>
	
	<p>  
		checkbox is tied to done property via ng-model<br>
		css class is toggled via binding<br>
	</p>

	<footer>
		<a href="v3.html">try it here</a>
	</footer>
</article>	

<article>
	<header>
		<h2>v4</h2>	
	</header>
	<aside>
		form + ng-click
	</aside>
	
	<p>  
		form is created with bootstrap style<br>
		button is created with bootstrap icon<br>
		click is to invoke addTodo() via ng-click<br>
		addTodo is implemented in TodoCtrl<br>
		totalTodos is changed to getTotalTodos()<br>
	</p>

	<footer>
		<a href="v4.html">try it here</a>
	</footer>
</article>	

<article>
	<header>
		<h2>v5</h2>	
	</header>
	<aside>
		underscore
	</aside>
	
	<p>  
		button click calls clearCompleted()<br>
		todos are filtered<br>
	</p>

	<footer>
		<a href="v5.html">try it here</a>
	</footer>
</article>	

<article>
	<header>
		<h2>v6</h2>	
	</header>
	<aside>
		final
	</aside>

	<p>
		forEach instead of _.filter<br>
		remaining() replaces getTotalTodos()<br>
		archive() replaces clearCompleted()<br>
		separated into todo.js todo.css<br>
	</p>

	<footer>
		<a href="final.html">try it here</a>
	</footer>
</article>	


</body></html>

