body {
  background: #ffffff;
  color: #222;
  font: 15px/25px Georgia, "Times New Roman", Times, serif;
  padding-top: 25px;
  width:75%;
  max-width: 500px;
  margin: 0 auto;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}