<!doctype html>
<html ng-app><head>
<meta charset=utf-8>
<title>Todo</title>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
</head><body>

<div ng-controller="TodoCtrl">
  {{ totalTodos }}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script>
var TodoCtrl = function  ($scope) {
  $scope.totalTodos = 4;
};
</script>

</body></html>
