<!doctype html>
<html ng-app><head>
  <meta charset=utf-8>
  <title>Todo</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
</head><body>

<div ng-controller="TodoCtrl">
  <h2>Total todos: {{ totalTodos }}</h2>
  <ul class="unstyled">
    <li ng-repeat="todo in todos">
      {{ todo.text }}
    </li>
  </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script>
var TodoCtrl = function  ($scope) {
  $scope.totalTodos = 4;

  $scope.todos = [
  {text: "Learn AngularJS", done: true},
  {text: "Build an app", done: true}];

};
</script>
</body></html>
