<!doctype html>
<html ng-app><head>
<meta charset=utf-8>
<title>Todo</title>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
<style>
.done-true {
  text-decoration: line-through;;
  color: grey;
}
</style>
</head><body>

<div ng-controller="TodoCtrl">
  <h2>Total todos: {{ getTotalTodos() }}</h2>
  <ul class="unstyled">
    <li ng-repeat="todo in todos">
      <input type="checkbox" ng-model="todo.done">
      <span class="done-{{todo.done}}">{{ todo.text }}</span>
    </li>
  </ul>

  <form class="form-horizontal">
    <input type="text" ng-model="formTodoText" ng-model-instant>
    <button class="btn" ng-click="addTodo()"><i class="icon-plus"></i>Add</button>
  </form>

  <button class="btn-large" ng-click="clearCompleted()"><i class="icon-trash"></i>Clear Completed</button>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script>
var TodoCtrl = function  ($scope) {
  $scope.getTotalTodos = function (argument) {
    return $scope.todos.length;
  };

  $scope.todos = [
  {text: "Learn AngularJS", done: true},
  {text: "Build an app", done: true}];

  $scope.addTodo = function () {
    $scope.todos.push({text: $scope.formTodoText, done:false});
    $scope.formTodoText = "";
  }

  $scope.clearCompleted = function () {
    $scope.todos = _.filter($scope.todos, function (todo) {
      return !todo.done;
    });
  };
};
</script>

</body></html>
