<!DOCTYPE html>
<html><head>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1"> 

<title>Projects in steps</title>

<style>
body {
  background: #ffffff;
  color: #222;
  font: 15px/25px Georgia, "Times New Roman", Times, serif;
  padding-top: 25px;
  width:75%;
  max-width: 500px;
  margin: 0 auto;
}
article {
  margin: 0 0 20px 20%;
  }
article header h2 {
  margin: 0 0 15px 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.3;
  }
article aside {
  float: left;
  width: 20%;
  margin-left: -25%;
  font-size: 12px;
  line-height: 1.8;
  color: #999;
  }
@media screen and (max-width: 700px) {
  article aside {
    float: none;
    width: auto;
    margin: 0 0 20px 0;
    line-height: 1.5;
    }
  }
article p {
  margin: 0 0 20px 0;
  font-size: 14px;
  line-height: 1.5;
  color: #666;
  }
article footer {
  font-size: 14px;
  color: #999;
  }       

a.external {
  background:url("/pub/images/external.gif") no-repeat scroll right top transparent;
  padding:0 13px 0 0;
}

</style>

</head><body>

<article>
  <header>
    <h2>v0</h2> 
  </header>
  <aside>
    template
  </aside>
  
  <p>  
    base HTML with some resources<br>
    <a href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">Bootstrap</a><br>
    <a href="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js">AngularJS</a><br>
  </p>

  <footer>
    <a href="v0.html">nothing visible yet</a>
  </footer>
</article>    


<article>
  <header>
    <h2>v1</h2> 
  </header>
  <aside>
    list view
  </aside>
  
  <p>
    ListCtrl provides list of projects<br>
    ng-repeat is used to display each project<br>
  </p>

  <footer>
    <a href="v1.html">try it</a>
  </footer>
</article>    


<article>
  <header>
    <h2>v2</h2> 
  </header>
  <aside>
    filter
  </aside>
  
  <p>
    search is implemented via filter and orderBy<br> 
  </p>

  <footer>
    <a href="v2.html">try it</a>
  </footer>
</article>    


<article>
  <header>
    <h2>v3</h2> 
  </header>
  <aside>
    2 way data binding
  </aside>
  
  <p>
    order by id or name<br>
    orderProp is set via select<br> 
  </p>

  <footer>
    <a href="v3.html">try it</a>
  </footer>
</article>    


<article>
  <header>
    <h2>v4</h2> 
  </header>
  <aside>
    xhr
  </aside>
  
  <p>
    data out of ListCtrl and fetched async<br> 
  </p>

  <footer>
    <a href="v4.html">try it</a>
  </footer>
</article>    


<article>
  <header>
    <h2>v5</h2> 
  </header>
  <aside>
    routing
  </aside>
  
  <p>
    route to different views: list5.html detail5.html<br> 
    simulating CRUD<br>
  </p>

  <footer>
    <a href="v5.html">try it</a>
  </footer>
</article>    


<article>
  <header>
    <h2>v6</h2> 
  </header>
  <aside>
    final
  </aside>

  <p>
    uses mongolabs.js as backend<br>
    orderby added to the original<br>
  </p>

  <footer>
    <a href="final.html">try it here</a>
  </footer>
</article>  


</body></html>

