
<div ng-controller="ListCtrl">
	<input type="text" ng-model="search" class="search-query" placeholder="Search">

	<table>
	  <thead>
	  <tr>
	    <th>Project</th>
	    <th>Description</th>
    <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
	  </tr>
	  </thead>
	  <tbody>
	  <tr ng-repeat="project in projects | filter:search | orderBy:orderProp">
	    <td><a href="{{project.site}}" target="_blank">{{project.name}}</a></td>
	    <td>{{project.description}}</td>
    <td><a href="#/edit/{{project.id}}"><i class="icon-pencil"></i></a></td>
	  </tr>
	  </tbody>
	</table>

	<br>
	Sorty by:
	<select ng-model="orderProp">
		<option value="id">ID</option>
		<option value="name">Name</option>
	</select>
</div>

