<!doctype html>
<html ng-app><head>
<meta charset=utf-8>
<title>Project</title>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
</head><body>

<div ng-controller="ListCtrl">
	<table>
	  <thead>
	  <tr>
	    <th>Project</th>
	    <th>Description</th>
	  </tr>
	  </thead>
	  <tbody>
	  <tr ng-repeat="project in projects">
	    <td><a href="{{project.site}}" target="_blank">{{project.name}}</a></td>
	    <td>{{project.description}}</td>
	  </tr>
	  </tbody>
	</table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script>
var ListCtrl = function  ($scope) {

  $scope.projects = [
  {id: 1, name: "jQuery", description: "Master of DOM"},
  {id: 2, name: "Ember.js", description: "Beat angularjs!"}];

};
</script>

</body></html>
