<!doctype html>
<html ng-app><head>
<meta charset=utf-8>
<title>Project</title>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
</head><body>

<div ng-controller="ListCtrl">
	<input type="text" ng-model="search" class="search-query" placeholder="Search">

<table>
  <thead>
  <tr>
    <th>Project</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="project in projects | filter:search | orderBy:orderProp">
    <td><a href="{{project.site}}" target="_blank">{{project.name}}</a></td>
    <td>{{project.description}}</td>
  </tr>
  </tbody>
</table>

<br>
	Sorty by:
	<select ng-model="orderProp">
		<option value="id">ID</option>
		<option value="name">Name</option>
	</select>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script>

var ListCtrl = function  ($scope, $http) {

  $http.get("projects4.json").success(function (data) {
    console.log(data);
    $scope.projects = data;
  });

  $scope.orderProp = "name";
};

</script>

</body></html>

